body{
    background-image:url(../images/body.jpg)
    
}
.name{
    text-align: center;
}
.home{
    margin: 0 auto;
    padding: 0;
    width: 1100px;
    height: auto;
    background-color: floralwhite;
}
.profile{
    display: inline;
    padding: 10px;
    
}

.footer{
    width: 100%;
}
.h2{
    text-align: center;
}

.right{
    display: inline-table;
     float: right;
    width: 770px;
    /* float: right; */
}
.para{
    justify-content: start;
}
li{
        width: 30%;
        display: inline-block;   

        border: solid 1px black;
       
   }

 .info{
     width: 25%;
    display: inline-block;
    
    
}
 
.twitter{
  width: 75%;
  display: inline-block;
   float: right;
} 

.tw-in{
    width: 100%;
    display: inline-block;   

    border: solid 1px black;
}